body{
	display: table;
	margin: auto;
	background-color: #1b273a;
}

ul {
	margin: 0;
	padding: 0;
	margin-left: -19px;
}

.title {
	text-align: center;
	color: #e5e6e8;
	font-family: 'Comic Sans MS';
}

ul li {
	display: inline-block;
	border: solid 2px #112f5e;
	background-color: #143872;
	box-shadow:0px 0px 10px 2px #1E90FF;
	text-align: center;
	padding: 5px;
	width: 220px;
	font-family: 'Comic Sans MS';
	font-size: 18px;
	color: #e5e6e8;
}

ul li:hover {
	background-color: #37598e;
}